.footer {
	margin-top: 60px;
	background-color: #2f303a;
	padding: 60px 0;

	> .container {
		@include flex(col, true, false);
		@include media(tablet) {
			flex-direction: row;
			flex-wrap: wrap;
		}
		@include media(desktop) {
			align-items: baseline;
			justify-content: left;
		}
	}

	&__logo {
		@include logo(white);
	}

	&__menu {
		@include flex(col, true, false);
		gap: 20px;
		margin-bottom: 60px;

		@include media(tablet) {
			margin-bottom: 0;
			margin-right: 165px;
		}

		@include media(desktop) {
			align-items: baseline;
			justify-content: baseline;
			margin-right: 70px;
		}

		> ul {
			@include flex(col, true, false);
			gap: 9px;

			> li {
				&:first-child {
					> a {
						color: getColor(white);
					}
				}
				> a {
					color: #ffffff99;
				}
			}

			@include media(desktop) {
				align-items: baseline;
			}
		}
	}

	&__social {
		@include flex(col, true, false);

		&__title {
			font-size: 14px;
			font-weight: bold;
			line-height: 16.41px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: getColor(white);
			margin-bottom: 20px;
		}

		@include media(desktop) {
			align-items: baseline;
			justify-content: baseline;
		}

		> ul {
			@include flex(row, true, false);

			gap: 10px;
			> li {
				width: 44px;
				height: 44px;
				background-color: #ffffff1a;
				border-radius: 50%;
				@include flex(row, true, false);
				@include transition(background-color);

				> a {
					color: getColor(white);
					font-size: 20px;
				}

				&:hover {
					background-color: getColor(blue);
				}
			}
		}
	}

	&__subscribe {
		@include flex(col, true, false);
		margin-top: 60px;

		@include media(desktop) {
			margin-top: 0;
			margin-left: 93px;
			align-items: baseline;
			justify-content: baseline;
		}

		&__title {
			font-size: 14px;
			font-weight: bold;
			line-height: 16.41px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: getColor(white);
			margin-bottom: 20px;
		}

		> form {
			@include flex(col, true, false);

			@include media(desktop) {
				flex-direction: row;
			}

			> input {
				width: 450px;
				background-color: transparent;
				border: solid 1px #ffffff4d;
				border-radius: 4px;
				box-shadow: 0px 4px 4px 0px #00000026;
				padding: 15px;
				color: getColor(white);

				@include transition(border-color);
				@include media(desktop) {
					width: 358px;
				}

				&::placeholder {
					color: #ffffff99;
				}

				&:hover,
				&:focus {
					border-color: getColor(blue);
				}

				@include media(mobile) {
					width: calc(320px - 40px);
				}
			}

			> button {
				@include flex(row, true, false);
				box-shadow: 0px 4px 4px 0px #00000026;
				@include transition(background-color);
				background-color: getColor(blue);
				color: getColor(white);
				letter-spacing: 0.06em;
				border-radius: 4px;
				text-align: center;
				line-height: 30px;
				padding: 10px 28px;
				font-weight: 700;
				font-size: 16px;
				border: none;
				gap: 12px;
				margin-top: 20px;

				@include media(desktop) {
					margin-top: 0;
					margin-left: 12px;
				}
				fill: getColor(white);

				&:hover,
				&:focus {
					background-color: #239cff;
				}
			}
		}
	}
}
