.team {
	margin: 94px 0;
	background-color: getColor(light);
	> .container {
		padding: 94px 0;
	}
	&__title {
		@include secTitle;
		margin-bottom: 50px;
	}
	&__list {
		@include flex(col, true, false);
		gap: 30px;

		@include media(tablet) {
			@include flex(row, true, false);
			flex-wrap: wrap;
		}
	}
	&__item {
		background-color: getColor(white);
		overflow: hidden;
		border: 0 0 4px 4px;
		box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
			0px 1px 3px 0px #0000001f;
		border-radius: 0 0 4px 4px;
		width: 450px;

		@include media(tablet) {
			width: 354px;
		}
		@include media(desktop) {
			width: 270px;
		}
		@include media(mobile) {
			width: 270px;
		}

		> img {
			width: 100%;
		}

		> h3 {
			margin: 30px 0 10px 0;
			text-align: center;
			color: getColor(dark);
			font-weight: 500;
			font-size: 16px;
			line-height: 18.75px;
		}
		> p {
			text-align: center;
			color: getColor(gray);
			font-size: 16px;
			line-height: 18.75px;
			margin-bottom: 16px;
		}
		&__social {
			@include flex(row, true, false);
			gap: 10xp;
			margin-bottom: 24px;
			> li {
				@include flex(row, true, false);
				justify-content: center;
				width: 44px;
				height: 44px;
				border-radius: 50%;
				@include transition(all);
				> a {
					@include transition(all);
					color: getColor(gray);
					font-size: 20px;
				}
				&:hover,
				&:focus {
					background-color: getColor(blue);
					> a {
						color: getColor(white);
					}
				}
			}
		}
	}
}
