.container {
	width: 100%;
	margin: 0 auto;
}
@media (min-width: 480px) {
	.container {
		max-width: 480px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
